/* rowdies-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Rowdies";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rowdies-v17-latin-regular.woff2") format("woff2");
}
/* roboto-300 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v32-latin-300.woff2") format("woff2");
}
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v32-latin-regular.woff2") format("woff2");
}
/* roboto-500 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v32-latin-500.woff2") format("woff2");
}
/* roboto-700 - latin */
@font-face {
  font-display: swap;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v32-latin-700.woff2") format("woff2");
}

:root {
  --color-primary-white: #ffffff;
  --color-primary-orange: #ff9f0e;
  --color-primary-black: #181817;
  --color-secondary-orange: #fcb62a;
  --color-secondary-orange-light: #fffaf3;
  --color-secondary-grey: #839aa9;
  --color-secondary-violet-dark: #d9a6ff;
  --color-secondary-violet-light: #f1f3ff;
  --color-secondary-pink: #f9f9ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-primary-black);
  background-color: var(--color-primary-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/* Button */
.button {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
  padding: 16px 32px;
  color: var(--color-primary-white);
  background-color: var(--color-primary-orange);
  border: 2px solid var(--color-primary-orange);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--color-secondary-orange);
  border-color: var(--color-secondary-orange);
}
/* Link */
.link {
  font-size: 18px;
  line-height: 1.3;
  text-decoration: none;
  color: var(--color-primary-black);
}

.link:hover {
  color: var(--color-primary-orange);
}
/* Container */
.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
  padding: 0 24px;
}
/* Section */
.section-title {
  font-family: "Rowdies", sans-serif;
  font-size: 56px;
  line-height: 1.2;
}

.section-title.center {
  text-align: center;
}
/* Header */
.header__container {
  display: flex;
  align-items: center;
  padding: 32px 0;
  margin-bottom: 212px;
  gap: 10px;
}

.header__nav {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 10px;
}

.header__logo {
  height: 42px;
  width: 182px;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 14px 0;
  gap: 48px;
}

.header__cart {
  width: 40px;
  height: 40px;
  padding: 0;
  fill: var(--color-primary-orange);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.header__icon {
  width: 40px;
  height: 40px;
}
/* Main */
.main-section__container {
  display: flex;
  gap: 65px;
  margin-bottom: 60px;
}

.main-section__title {
  margin-bottom: 40px;
  font-family: "Rowdies", sans-serif;
  font-size: 72px;
  line-height: 1.2;
}

.capitalize {
  text-transform: capitalize;
}

.main-section__text {
  width: 100%;
  max-width: 500px;
  margin-bottom: 24px;
}
/* Talk section */
.talk-section__container {
  display: flex;
}

.talk-section__image {
  margin-left: -74px;
}

.talk-section__title {
  margin: 155px 0 40px;
}

.talk-section__text {
  margin-bottom: 24px;
}

.talk-section__button {
  margin-bottom: 186px;
}
/* Services section */
.services-section__titel {
  margin-bottom: 40px;
}
