.button {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
  padding: 16px 32px;
  color: var(--color-primary-white);
  background-color: var(--color-primary-orange);
  border: 2px solid var(--color-primary-orange);
  border-radius: 8px;
  cursor: pointer;

  @media screen and (max-width: $bp-tablet) {
    font-size: 16px;
    line-height: 1.12;
    padding: 8px 32px;
    border-radius: 4px;
  }

  &:hover {
    background-color: var(--color-secondary-orange);
    border-color: var(--color-secondary-orange);
  }
}
