.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  padding: 0;
  border: 2px solid var(--color-secondary-grey);
  border-radius: 50%;
  background-color: var(--color-secondary-grey);
  fill: var(--color-primary-white);
  cursor: pointer;

  &:hover {
    border-color: var(--color-primary-orange);
    background-color: var(--color-primary-orange);
  }

  &.prev {
    transform: rotate(180deg);
  }

  &__arrow {
    width: 16px;
    height: 16px;
  }
}
