:root {
  --color-primary-white: #ffffff;
  --color-primary-orange: #ff9f0e;
  --color-primary-black: #181817;
  --color-secondary-orange: #fcb62a;
  --color-secondary-orange-light: #fffaf3;
  --color-secondary-grey: #839aa9;
  --color-secondary-violet-dark: #d9a6ff;
  --color-secondary-violet-light: #f1f3ff;
  --color-secondary-pink: #f9f9ff;
  --color-secondary-rose: #ff6e9f;
}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
