.contact-section {
  position: relative;
  padding: 180px 0 110px;
  background-image: url(../../images/contact-section-background.svg);
  background-repeat: no-repeat;
  background-position: center -32px;
  background-size: 1444px 830px;

  @media screen and (max-width: $bp-desktop) {
    background-position: center -58px;
    padding: 110px 0 160px;
  }

  @media screen and (max-width: $bp-tablet) {
    background-position: center -110px;
    padding: 72px 0 160px;
  }

  &::before {
    display: none;

    @media screen and (max-width: $bp-desktop) {
      display: block;
      position: absolute;
      left: 0;
      bottom: 80px;
      background-image: url(../../images/custumer-section-mobile-paw-1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 56px;
      height: 56px;
      content: "";
    }
  }

  &::after {
    display: none;

    @media screen and (max-width: $bp-desktop) {
      display: block;
      position: absolute;
      right: 0;
      bottom: 130px;
      background-image: url(../../images/custumer-section-mobile-paw-2.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 32px;
      height: 32px;
      content: "";
    }
  }

  &__container {
    position: relative;
  }

  &__form {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    max-height: 620px;
    height: 100%;
  }

  &__titel {
    margin-bottom: 16px;

    @media screen and (max-width: $bp-tablet) {
      max-width: 400px;
      margin: 0 auto 8px;
    }
  }

  &__text {
    margin-bottom: 42px;
    font-size: 18px;
    line-height: 1.3;
    color: var(--color-secondary-grey);
    text-align: center;
    letter-spacing: 0.8px;

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 24px;
      font-size: 14px;
      line-height: 1.2;
    }
  }

  &__form-field {
    position: relative;
    margin-bottom: 24px;

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 16px;
    }
  }

  &__input {
    padding: 12px 36px 12px 80px;
    font-size: 18px;
    line-height: 1.3;

    @media screen and (max-width: $bp-tablet) {
      padding: 10px 24px 10px 56px;
      font-size: 16px;
      line-height: 1.2;
    }
  }

  &__button {
    display: block;
    margin: 0 auto 16px;

    @media screen and (max-width: $bp-desktop) {
      margin: 0 auto 8px;
    }
  }

  &__image-1 {
    position: absolute;
    top: 70px;
    left: -80px;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__image-2 {
    position: absolute;
    right: -100px;
    bottom: -20px;

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }
}
