.services-section {
  padding: 68px 0 96px;
  background-image: url(../../images/service-section-background.svg);
  background-repeat: no-repeat;
  background-position: top center;

  @media screen and (max-width: $bp-tablet) {
    padding: 60px 0 40px;
  }

  &__titel {
    margin-bottom: 40px;

    @media screen and (max-width: $bp-tablet) {
      margin-bottom: 24px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 24px;
    align-items: end;

    @media screen and (max-width: $bp-tablet) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__icon-arrow {
    position: absolute;
    top: -180px;
    right: -10px;
    width: 192px;
    height: 144px;
    fill: var(--color-primary-orange);

    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__list {
    display: flex;
    gap: 24px;
  }

  &__more {
    display: flex;
    gap: 8px;
  }

  &__text {
    font-size: 18px;
    line-height: 1.3;
    margin-bottom: 0;
    color: var(--color-primary-orange);
  }

  &__button {
    width: 40px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    fill: var(--color-primary-orange);
    border: none;
    cursor: pointer;
  }

  &__icon {
    width: 40px;
    height: 24px;
  }
}
