.talk-section {
  padding-bottom: 100px;

  @media screen and (max-width: $bp-desktop) {
    padding: 40px 0 50px;
  }

  @media screen and (max-width: $bp-tablet) {
    padding: 40px 0 0;
  }

  &__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 10px;

    &::before {
      position: absolute;
      background-image: url(../images/talk-section-background.svg);
      background-repeat: no;
      background-size: contain;
      z-index: -1;
      width: 512px;
      height: 563px;
      content: "";
      top: 68px;
      left: 0;

      @media screen and (max-width: $bp-desktop) {
        display: none;
      }
    }

    &::after {
      position: absolute;
      top: 158px;
      left: 306px;
      background-image: url(../images/talk-section-button-background.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 162px;
      height: 122px;
      content: "";

      @media screen and (max-width: $bp-desktop) {
        display: none;
      }
    }
  }

  &__image-container {
    @media screen and (max-width: $bp-desktop) {
      display: none;
    }
  }

  &__image {
    width: 516px;
    height: 362px;
    margin: 200px 0 0;
  }

  &__icon-paw-1 {
    position: absolute;
    top: 390px;
    left: 50px;
    width: 56px;
    height: 56px;
    fill: var(--color-secondary-grey);
  }

  &__icon-paw-2 {
    position: absolute;
    top: 124px;
    left: 168px;
    width: 56px;
    height: 56px;
    fill: var(--color-secondary-grey);
  }

  &__icon-paw-3 {
    position: absolute;
    top: 320px;
    left: 430px;
    width: 56px;
    height: 56px;
    fill: var(--color-secondary-grey);
  }

  &__player-button {
    position: absolute;
    top: 180px;
    left: 360px;
    z-index: 1;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-white);
    cursor: pointer;
  }

  &__player {
    width: 48px;
    height: 48px;
  }

  &__player-text {
    position: absolute;
    top: 238px;
    left: 344px;
    z-index: 1;
    font-size: 16px;
    line-height: 1.2;
    color: var(--color-primary-white);
  }

  &__icon-bowl {
    position: absolute;
    top: 620px;
    left: 200px;
    width: 72px;
    height: 48px;
    fill: var(--color-secondary-grey);
  }

  &__content {
    position: relative;
    max-width: 658px;

    @media screen and (max-width: $bp-desktop) {
      margin: 0 auto;
    }
  }

  &__title {
    position: relative;
    margin: 155px 0 40px;

    @media screen and (max-width: $bp-desktop) {
      margin: 0 0 40px;
    }

    @media screen and (max-width: $bp-tablet) {
      margin: 0 0 24px;
    }

    &::before {
      position: absolute;
      top: 12px;
      left: -734px;
      background-image: url(../../images/talk-section-paw-1.svg);
      background-repeat: no-repeat;
      background-size: contain;
      width: 98px;
      height: 98px;
      content: "";
    }

    &::after {
      position: absolute;
      top: -180px;
      left: 540px;
      background-image: url(../../images/talk-section-paw-2.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 190px;
      height: 264px;
      content: "";

      @media screen and (max-width: $bp-desktop) {
        display: none;
      }
    }
  }

  &__image-arrow {
    display: none;

    @media screen and (max-width: $bp-desktop) {
      display: block;
      position: absolute;
      fill: var(--color-primary-orange);
      top: 20px;
      left: 280px;
      width: 48px;
      height: 40px;
    }

    @media screen and (max-width: $bp-tablet) {
      display: block;
      position: absolute;
      fill: var(--color-primary-orange);
      top: 0;
      left: 160px;
      width: 48px;
      height: 40px;
    }
  }

  &__text {
    position: relative;
    margin-bottom: 24px;
    width: 100%;
    max-width: 658px;

    @media screen and (max-width: $bp-tablet) {
      max-width: 280px;
    }

    &::before {
      display: none;

      @media screen and (max-width: $bp-desktop) {
        display: block;
        position: absolute;
        top: 150px;
        left: 230px;
        background-image: url(../../images/talk-section-background-mobile.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 72px;
        height: 72px;
        content: "";
      }

      @media screen and (max-width: $bp-tablet) {
        top: 190px;
        left: 190px;
      }
    }

    &::after {
      position: absolute;
      right: 130px;
      bottom: -150px;
      background-image: url(../../images/talk-section-paw-3.svg);
      background-size: cover;
      width: 98px;
      height: 98px;
      content: "";

      @media screen and (max-width: $bp-desktop) {
        right: -10px;
        bottom: 250px;
        width: 56px;
        height: 56px;
      }
    }
  }

  &__button {
    &::after {
      display: none;

      @media screen and (max-width: $bp-desktop) {
        display: block;
        position: absolute;
        top: 90px;
        right: 90px;
        background-image: url(../../images/talk-section-paw-mobile.svg);
        background-size: cover;
        width: 24px;
        height: 24px;
        content: "";
      }

      @media screen and (max-width: $bp-tablet) {
        top: 40px;
        right: 0;
      }
    }
  }

  &__player-button-mobile {
    position: absolute;
    left: 252px;
    bottom: 24px;
    z-index: 1;
    width: 24px;
    height: 24px;
    padding: 0;
    background-color: transparent;
    border: none;
    fill: var(--color-primary-white);
    cursor: pointer;

    @media screen and (max-width: $bp-tablet) {
      left: 214px;
      bottom: 18px;
    }
  }

  &__player-mobile {
    width: 24px;
    height: 24px;
  }

  &__player-text-mobile {
    position: absolute;
    left: 244px;
    bottom: 0;
    z-index: 1;
    font-size: 8px;
    font-weight: 300;
    line-height: 1.1;
    color: var(--color-primary-white);

    @media screen and (max-width: $bp-tablet) {
      left: 204px;
      bottom: -4px;
    }
  }
}
